* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6fb;
    text-align: center;
}

.title {
    margin: 30px 0;
    font-size: 36px;
    color: #0d1e63;
}


.filters {
    margin-bottom: 25px;
}

.filter-btn {
    padding: 10px 18px;
    margin: 5px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
    background: #0d1e63;
    color: #fff;
}


.gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.gallery-item {
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.gallery-item img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease, filter 0.4s ease;
}


.gallery-item:hover img {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}


.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    background: rgba(255,255,255,0.2);
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    background: rgba(255,255,255,0.5);
}

.prev { left: 20px; }
.next { right: 20px; }


@media (max-width: 768px) {
    .title {
        font-size: 26px;
    }
    .lightbox img {
        max-width: 95%;
    }
}